body {
	margin: 0px;
	background-color: lighten(black, 20%);
	color: darken(white, 15%);
}

.navbar {
	height: 60px;
	background-color: lighten(black, 35%);
	display: flex;
	align-items: center;
	.brand {
		font-size: 25px;
		padding-left: 20px;
	}
}

.config-input {
	width: 100%;
	padding: 5px;
}

.action-buttons {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

.instructions-textarea {
	width: 100%;
	resize: none;
}

.page {
	width: 100%;
	height: 50px;
	border: 1px solid lighten(black, 40%);
}

.process {
	width: 100%;
	height: 50px;
	border: 1px solid lighten(black, 40%);
}

.frame {
	width: 100%;
	height: 50px;
	border: 1px solid lighten(black, 40%);
}

.memory-group {
	padding: 5px;
}

.process-list {
	padding: 5px;
}

.page-list {
	padding: 5px;
}

.log-error {
	color: red;
}

.log-info {
	color: lighten(blue, 35%);
}

.log-warning {
	color: lighten(yellow, 25%);
}

.show-instructions {
	border: 1px solid darken(white, 15%);
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 5px;
	max-height: 400px;
	overflow-y: auto;
}

@import "ember-cli-bootstrap-4/bootstrap-grid";
@import "ember-power-select";
